@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  direction: rtl;
  font-family: "Yekan Bakh",;
}
@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}